---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="The Idea Factory">
  <div class="pb-32 overflow-visible bg-contain">
    <div id="comb-bg" class="border-b border-t border-zinc-300">
      <div
        class="w-full container relative grid grid-cols-1 mx-auto max-w-screen-md text-center items-center gap-32 py-32 overflow-visible"
      >
        <div
          class="max-w-screen-xl w-full z-10 flex-1 flex flex-col gap-8 col-span-1"
        >
          <div class="flex flex-col gap-4 animate__fadeIn animate__animated">
            <h1
              class="text-4xl inline leading-relaxed md:text-5xl xl:text-6xl text-zinc-950 font-bold"
            >
              Where innovation thrives!
            </h1>
            <p class="text-xl">
              At The Idea Factory, we believe that innovation is the key to
              success. We are a community of innovators, creators, and
              entrepreneurs who are committed to helping each other succeed.
            </p>
          </div>
          <div
            class="flex flex-col md:flex-row items-center gap-4 animate__fadeIn animate__animated animate__duration-1s justify-center"
          >
            <a href="https://5k73n0eiwmd.typeform.com/to/v9uUxbgl">
              <button
                class="p-2 font- bg-[#FF3E1E] px-4 text-white flex gap-2 items-center"
              >
                Apply for 2023 cohort
                <svg
                  width="32"
                  height="32"
                  viewBox="0 0 60 60"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M32.6778 21.5L40.5 30M32.6778 38.5L40.5 30M40.5 30L18.5 30"
                    stroke="#ffffff"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </button>
            </a>
            <button class="flex gap-2 px-6 py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.91 11.672a.375.375 0 010 .656l-5.603 3.113a.375.375 0 01-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112z"
                ></path>
              </svg>
              Play showreel
            </button>
          </div>
          <div class="flex gap-2 justify-center">
            <div class="flex avatar-group">
              <img
                src="https://images.pexels.com/photos/8864283/pexels-photo-8864283.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="someone"
                class="w-6 h-6 rounded-full object-cover ring-2 ring-white"
              />
              <img
                src="https://images.pexels.com/photos/15664597/pexels-photo-15664597/free-photo-of-portrait-of-man.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="someone"
                class="w-6 h-6 rounded-full object-cover ring-2 ring-white"
              />
              <img
                src="https://images.pexels.com/photos/17484150/pexels-photo-17484150/free-photo-of-take-me-2.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="someone"
                class="w-6 h-6 rounded-full object-cover ring-2 ring-white"
              />
              <img
                src="https://images.pexels.com/photos/17413708/pexels-photo-17413708/free-photo-of-neon.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="someone"
                class="w-6 h-6 rounded-full object-cover ring-2 ring-white"
              />
            </div>
            <p class="text-zinc-500 text-base">+3 others have registered.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="py-32 flex flex-col gap-8 bg-zinc-100 p-4">
      <div class="container mx-auto max-w-screen-xl">
        <div class="flex flex-col gap-4">
          <p class="uppercase text-sm font-">Process</p>
          <h2 class="text-3xl text-zinc-950 font-bold">
            How The Idea Factory works
          </h2>
          <div class="flex flex-col md:flex justify-between gap-16">
            <p class="w-full">
              The Idea Factory is a student startup accelerator that is
              dedicated to fostering innovation, creativity, and
              entrepreneurship among students. Our primary goal is to provide a
              supportive and collaborative environment where student
              entrepreneurs can thrive. We believe that by nurturing and
              empowering student startups, we can drive impactful change and
              create a vibrant ecosystem for innovation. At the Idea Factory, we
              offer a range of resources and support to help student startups
              succeed. This includes mentorship from experienced industry
              professionals who guide students through the startup journey,
              providing valuable insights and advice.
            </p>
            <p class="w-full">
              Quality assurance is a key aspect of the Idea Factory. We
              emphasize the importance of thorough testing, feedback loops, and
              iterative development to ensure that student startups deliver
              high-quality or services. Our team of mentors and experts work
              closely with students to help them refine their business models,
              validate their ideas, and build sustainable businesses. We believe
              in attention to detail and strive to create user-focused solutions
              that meet the needs of the target audience.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="py-32 p-4">
      <div class="container mx-auto max-w-screen-xl flex flex-col gap-8">
        <p class="uppercase text-sm font- font-bold">Membership Perks</p>

        <h3 class="text-3xl text-zinc-950 leading-normal font-bold">
          Unleash your entrepreneurial potential with The Idea Factory, the
          ultimate student startup accelerator! Elevate your ideas, refine your
          skills, and embark on the journey to becoming a groundbreaking
          founder.
        </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-16">
          <div class="p-8 flex flex-col gap-4 border border-zinc-300">
            <p class="text-xl">📒</p>
            <h4 class="uppercase text-sm font-">Mentorship</h4>
            <p>
              We connect you with industry experts and successful entrepreneurs
              to help you grow your business.
            </p>
          </div>
          <div class="p-8 flex flex-col gap-4 border border-zinc-300">
            <p class="text-xl">📈</p>
            <h4 class="uppercase text-sm font-">Community</h4>
            <p>
              The Idea Factory is a community of innovators, creators, and
              entrepreneurs who are committed to helping each other succeed.
            </p>
          </div>
          <div class="p-8 flex flex-col gap-4 border border-zinc-300">
            <p class="text-xl">📣</p>
            <h4 class="uppercase text-sm font-">Pitching</h4>
            <p>
              We help you refine your pitch and connect you with investors to
              help you raise capital.
            </p>
          </div>
          <div class="p-8 flex flex-col gap-4 border border-zinc-300">
            <p class="text-xl">📝</p>
            <h4 class="uppercase text-sm font-">Resources</h4>
            <p>
              Gain access to cloud resources, our library, including pitch
              decks, business plans and more.
            </p>
          </div>
          <div class="p-8 flex flex-col gap-4 border border-zinc-300">
            <p class="text-xl">📚</p>
            <h4 class="uppercase text-sm font-">Education</h4>
            <p>
              We regularly host workshops and seminars, with industry experts to
              help you learn the skills you need to succeed.
            </p>
          </div>
          <div class="p-8 flex flex-col gap-4 border border-zinc-300">
            <p class="text-xl">🏆</p>
            <h4 class="uppercase text-sm font-">Competitions</h4>
            <p>
              Every season we host a pitch competition where you can pitch your
              idea to a panel of judges for a chance to win prices.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="py-32 bg-zinc-900 p-4">
      <div class="container mx-auto max-w-screen-xl flex flex-col gap-8">
        <p class="uppercase text-sm font- text-zinc-100">
          2023 Season 1 Cohort
        </p>
        <h3 class="text-3xl text-white max-w-xl font-bold">
          Season 1 applications are now open!
        </h3>
        <div
          class="p-4 border border-zinc-700 flex flex-col gap-4 items-start max-w-screen-md"
        >
          <p class="uppercase text-sm font- text-zinc-100 bg-zinc-800 p-2 px-4">
            07 August 2023
          </p>
          <h4 class="text-xl text-white">Applications open</h4>
          <p class="text-zinc-300">
            We are now accepting applications for the 2023 S1 cohort.
          </p>
        </div>
        <div
          class="p-4 border border-zinc-700 flex flex-col gap-4 items-start max-w-screen-md"
        >
          <p class="uppercase text-sm font- text-zinc-100 bg-zinc-800 p-2 px-4">
            20 August 2023
          </p>
          <h4 class="text-xl text-white">Deadline for applications</h4>
          <p class="text-zinc-300">
            Applications for the 2023 S1 cohort close on 20 August 2023. We will
            not be accepting any late applications.
          </p>
        </div>
        <div
          class="p-4 border border-zinc-700 flex flex-col gap-4 items-start max-w-screen-md"
        >
          <p class="uppercase text-sm font- text-zinc-100 bg-zinc-800 p-2 px-4">
            25 August 2023
          </p>
          <h4 class="text-xl text-white">Finalists announced</h4>
          <p class="text-zinc-300">
            We will announce the finalists for the 2023 S1 cohort on 25 August
            2023. We will contact you via email if you have been selected.
          </p>
        </div>
        <div
          class="p-4 border border-zinc-700 flex flex-col gap-4 items-start max-w-screen-md"
        >
          <p class="uppercase text-sm font- text-zinc-100 bg-zinc-800 p-2 px-4">
            28 September 2023
          </p>
          <h4 class="text-xl text-white">Cohort starts</h4>
          <p class="text-zinc-300">
            Accepted teams will be notified via email and invited to join start
            building their products.
          </p>
        </div>
        <div
          class="p-4 border border-zinc-700 flex flex-col gap-4 items-start max-w-screen-md"
        >
          <p class="uppercase text-sm font- text-zinc-100 bg-zinc-800 p-2 px-4">
            01 December 2023
          </p>
          <h4 class="text-xl text-white">Demo day</h4>
          <p class="text-zinc-300">
            Teams will pitch their products to a panel of judges for a chance to
            win prizes.
          </p>
        </div>
      </div>
    </div>
    <div
      style="background-image: url('grid-dots-banner.svg')"
      class="py-32 p-4 shadow-inner"
    >
      <div class="container mx-auto max-w-screen-xl flex flex-col gap-8">
        <p class="uppercase text-sm font-">Get started</p>
        <h3 class="text-3xl text-zinc-950 max-w-md font-bold">
          Ready to take your startup to the next level?
        </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-16">
          <div
            class="p-8 flex flex-col gap-4 border border-zinc-300 bg-white/90 backdrop-blur-sm shadow-xl shadow-orange-700/20"
          >
            <h4 class="uppercase text-sm font-">Apply to the program</h4>
            <p>
              Submit your application for the 2023 S1 cohort. We will contact
              you with next steps.
            </p>
            <a href="https://5k73n0eiwmd.typeform.com/to/v9uUxbgl">
              <button
                class="p-2 font- bg-orange-600 px-4 text-white uppercase w-full"
              >
                Apply for 2023 S1
              </button>
            </a>
          </div>
          <div
            class="p-8 flex flex-col gap-4 border border-zinc-300 bg-white/90 backdrop-blur-sm shadow-xl"
          >
            <h4 class="uppercase text-sm font-">Join our community</h4>
            <p>
              Join our community of innovators, creators, and entrepreneurs who
              are committed to helping each other succeed.
            </p>
            <a href="https://chat.whatsapp.com/EWJ2DFxSybv1IN50RWkqS9">
              <button
                class="p-2 font- border border-zinc-200 bg-zinc-50 px-4 uppercase w-full"
              >
                Join the WhatsApp group
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    #video-player {
      background-image: url("https://images.pexels.com/photos/908714/pexels-photo-908714.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load;");
      background-size: cover;
    }

    #comb-bg {
      background-image: url("/comb-banner.svg");
      background-size: 60%;
      background-position: center;
    }

    @media screen (max-width: 768px) {
      #comb-bg {
        background-size: 90%;
      }
    }

    .avatar-group {
      overflow: hidden;
    }

    .avatar-group > * {
      flex-shrink: 0;
    }

    .avatar-group > * + * {
      margin-left: -0.5rem;
    }
  </style>
</Layout>
