---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Manifesto - the idea factory">
    <div class="container mx-auto max-w-screen-xl py-24 p-4">
        <div class="flex flex-col gap-8">
            <div class="flex flex-col gap-4 max-w-screen-md py-24">
                <h1 class="text-3xl text-zinc-950">
                    The Idea Factory 🏭 is a community of students who believe
                    that the world needs more people who are willing to take
                    risks and create something new.
                </h1>

                <p>
                    We help students turn their ideas into real products. We
                    provide the tools, mentorship, and community to help you
                    build your idea. We are here to help you learn the skills
                    you need to become a successful entrepreneur. We are here to
                    help you learn the skills you need to become a successful
                    entrepreneur.
                    <br />
                    <br />
                </p>
                <p class="font-semibold text-zinc-950 gap-2 text-sm">
                    T. C. Chinyamakobvu, T. D. Kamusoko, T. Sengerai, CUT
                    Innovation Hub, Department of ICT CUT
                </p>
            </div>
            <img
                src="https://images.pexels.com/photos/1454360/pexels-photo-1454360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="Students working on a project"
                class="w-full aspect-[16/7] object-cover"
            />
        </div>
    </div>
    <div class="bg-white p-4">
        <div class="prose py-24 mx-auto max-w-screen-xl container">
            <h3 class="text-3xl mb-4">We partner with industry experts</h3>
            <div class="flex gap-8 justify-between w-full">
                <div class="flex flex-col gap-8">
                    <p>
                        We believe that the best way to learn is by doing, and
                        that the best way to do is by working with others. We
                        have partnered with industry experts to help you learn
                        the skills you need to become a successful entrepreneur.
                        <br />
                        <br />
                        In addition to that we are always looking for partners who
                        can help us grow our community. If you are interested in
                        partnering with us, please reach out to us at{" "}

                        <a href="mailto:hey@tif.co.zw"> hey@tif.co.zw</a>. As a
                        partner you will have access to our community of
                        students and will be able to help them learn the skills
                        they need to become successful entrepreneurs. Partners
                        also get consulation preference and access to our
                        network of experts.
                    </p>
                    <div class="flex flex-col gap-4">
                        <div>
                            <p
                                class="uppercase text-sm font-semibold text-zinc-950"
                            >
                                Partners
                            </p>
                            <p>
                                Patners are selected based on their ability to
                                provide value to our community.
                            </p>
                        </div>
                        <div class="flex gap-8 items-center">
                            <a
                                href="https://cut.ac.zw"
                                rel="noreferrer"
                                target="_blank"
                            >
                                <img
                                    src="https://www.cut.ac.zw/welcome/assets/img/logo.png"
                                    class="w-16 h-16 rounded-full"
                                    alt="CUT"
                                />
                            </a>
                            <a
                                href="https://cut.ac.zw"
                                rel="noreferrer"
                                target="_blank"
                            >
                                <img
                                    src="https://chapterone.cdn.prismic.io/chapterone/473be880-59c0-4175-a875-a3c9ad214389_Frame+48.svg"
                                    class="w-24 h-24 rounded-full"
                                    alt="CUT"
                                />
                            </a>
                            <a
                                href="https://cut.ac.zw"
                                rel="noreferrer"
                                target="_blank"
                            >
                                <img
                                    src="https://panteracapital.com/wp-content/uploads/2021/02/Ripple-logo.svg"
                                    class="w-24 h-24"
                                    alt="CUT"
                                />
                            </a>
                            <a
                                href="https://cut.ac.zw"
                                rel="noreferrer"
                                target="_blank"
                            >
                                <img
                                    src="https://chapterone.cdn.prismic.io/chapterone/85e964ac-9560-46b4-a46c-98ff339f9cc7_Moonpay+dark.svg"
                                    class="w-24 h-24 rounded-full"
                                    alt="CUT"
                                />
                            </a>
                        </div>
                    </div>
                </div>
                <div
                    class="bg-zinc-100 p-8 flex flex-col gap-2 max-w-sm w-full"
                >
                    <h5 class="text-zinc-950 text-xl">
                        You should reach out to us if:
                    </h5>
                    <p>
                        <ul class="list-disc">
                            <li>
                                You have lab-scale performance and preliminary
                                stability data showing a proof of concept.
                            </li>
                            <li>
                                Your Measurement, Reporting and Verification
                                (MRV) approach is outlined, risks are
                                identified, and a method is presented for
                                reducing MRV uncertainty.
                            </li>
                            <li>
                                Techno-economic Analysis (TEA) is based on a
                                process flow diagram and mass and energy
                                balance.
                            </li>
                            <li>
                                You can deliver first tons in the next ~1-3
                                years.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-24 p-4">
        <div class="prose container mx-auto max-w-screen-xl">
            <h3 class="text-3xl mb-4">We partner with industry experts</h3>
            <div class="flex gap-8 justify-between w-full">
                <p>
                    We believe that the best way to learn is by doing, and that
                    the best way to do is by working with others. We believe
                    that the best way to work with others is to be part of a
                    community.
                </p>
                <div
                    class="bg-zinc-200 p-8 flex flex-col gap-2 max-w-sm w-full"
                >
                    <h5 class="text-zinc-950 text-xl">
                        You should reach out to us if:
                    </h5>
                    <p>
                        <ul class="list-disc">
                            <li>
                                You have lab-scale performance and preliminary
                                stability data showing a proof of concept.
                            </li>
                            <li>
                                Your Measurement, Reporting and Verification
                                (MRV) approach is outlined, risks are
                                identified, and a method is presented for
                                reducing MRV uncertainty.
                            </li>
                            <li>
                                Techno-economic Analysis (TEA) is based on a
                                process flow diagram and mass and energy
                                balance.
                            </li>
                            <li>
                                You can deliver first tons in the next ~1-3
                                years.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-24 p-4">
        <div class="prose mx-auto max-w-screen-xl container">
            <h3 class="text-3xl mb-4">
                It all starts with an idea and a great team
            </h3>
            <div class="flex gap-16 justify-between w-full items-start">
                <div class="flex flex-col gap-8">
                    <p>
                        It all starts with the idea, the product, the vision and
                        the team. No one has ever done it, its so painfully
                        obvious, can you build it? Yes! We can help you build
                        it. We are here to help you learn the skills you need to
                        become a successful entrepreneur.
                    </p>
                    <div class="flex flex-col gap-1">
                        <h4 class="text-xl">Vision</h4>
                        <p>
                            We have a vision of a world where everyone has the
                            opportunity to learn the skills they need to become
                            a successful entrepreneur.
                        </p>
                    </div>
                    <div class="flex flex-col gap-1">
                        <h4 class="text-xl">Mission</h4>
                        <p>
                            We are here to help you learn the skills you need to
                            become a successful entrepreneur.
                        </p>
                    </div>
                    <div class="flex flex-col gap-1">
                        <h4 class="text-xl">Core values</h4>
                        <p>
                            <ul class="list-disc">
                                <li>
                                    Integrity: We are honest and transparent in
                                    all our dealings.
                                </li>
                                <li>
                                    Excellence: We strive to be the best at what
                                    we do.
                                </li>
                                <li>
                                    Innovation: We are always looking for new
                                    ways to do things better.
                                </li>
                                <li>
                                    Community: We believe that the best way to
                                    learn is by doing, and that the best way to
                                    do is by working with others.
                                </li>
                                <li>
                                    Collaboration: We believe that the best way
                                    to work with others is to be part of a
                                    community.
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div
                    class="bg-blue-100 p-8 flex flex-col gap-2 max-w-sm w-full"
                >
                    <p class="text-zinc-950 text-sm uppercase font-semibold">
                        Mission Statement
                    </p>
                    <p class="text-blue-950">
                        We believe that the best way to learn is by doing, and
                        that the best way to do is by working with others. We
                        believe that the best way to work with others is to be
                        part of a community.
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>
