<div class="py-32 border-t border-zinc-300 p-4">
    <div class="container mx-auto max-w-screen-xl flex flex-col gap-16">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
            <div class="flex flex-col gap-2">
                <p>
                    © {new Date().getFullYear()} The Idea Factory.
                </p>
                <p>A CUT Innovation Hub initiative.</p>
            </div>
            <div class="flex flex-col gap-4">
                <p class="uppercase text-sm font-semibold">Company</p>
                <ul>
                    <li>
                        <a href="/contact">Resources</a>
                    </li>
                    <li>
                        <a href="/contact">About Us</a>
                    </li>
                    <li>
                        <a href="/privacy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col gap-4">
                <p class="uppercase text-sm font-semibold">Contact us</p>
                <ul>
                    <li>
                        <a href="/contact">Twitter</a>
                    </li>
                    <li>
                        <a href="/contact">Instagram</a>
                    </li>
                    <li>
                        <a href="/contact"> hey@theideafactory.co.zw</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
