<nav class="flex justify-between p-2">
    <a href="/" class="font-bold text-gray-800">the idea factory</a>
    <div class="flex gap-4">
        <a
            href="/ideas"
            class="hover:underline transition-all over:text-zinc-900"
            >Resources</a
        >

        <a
            href="/manifesto"
            class="hover:underline transition-all over:text-zinc-900"
            >Manifesto</a
        >
    </div>
</nav>
