<nav class="flex flex-col gap-4 md:flex-row justify-between p-4">
    <a href="/" class="font-bold text-gray-800 flex gap-2 items-center">
        <img src="/android-chrome-192x192.png" class="w-12 h-12" />
        <div>
            <p class="uppercase">The Idea Factory</p>
            <h6 class="text-xs text-zinc-600">From CUT Innovation Hub</h6>
        </div>
    </a>
    <div class="flex gap-8 items-center">
        <a
            href="/about"
            class="hover:underline transition-all over:text-zinc-900">About</a
        >
        <a
            href="/sponsors"
            class="hover:underline transition-all over:text-zinc-900"
            >Sponsors</a
        >
    </div>
</nav>
